#!/usr/bin/env python
PACKAGE = "rm_chassis_controllers"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("effort_coeff", double_t, 0, "Trigger block effort", 0.0, 0.0, 9999)
gen.add("velocity_coeff", double_t, 0, "velocity coeff", 0.0, 0.0, 9999)
gen.add("power_offset", double_t, 0, "power offset", 0.0, 0.0, 9999)

exit(gen.generate(PACKAGE, "chassis", "chassis"))
