#!/usr/bin/env python
PACKAGE = "rm_chassis_controllers"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("k_yaw_vel_", double_t, 0, "Follow feedforward coefficient", 0.0, 0.0, 1.0)

exit(gen.generate(PACKAGE, "chassis_base", "ChassisBase"))
